.chat-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.chat-icon {
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease 0.8s;
}

.chat-icon:hover {
  transform: rotate(-180deg);
}

.chat-box {
  z-index: 100;
  position: fixed;
  top: 30px;
  right: 10px;
  width: 460px;
  height: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(49, 49, 49);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(132, 132, 132);
}

.Conversation-box {
  height: 90%;
  overflow-y: auto;
}

.Conversation-box::-webkit-scrollbar {
  display: none;
}

.empty-chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.empty-chats h2{
  margin: 0.2rem;
}

.empty-chats .text-container{
  margin: 1rem;
}

.empty-chats p span {
  background-image: linear-gradient(to left, rgb(229, 90, 236), rgb(13, 223, 226));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px white solid;
  padding: 10px;
}

.input-bar {
  width: 100%;
  display: flex;
}

.btn {
  background-image: linear-gradient(to right, #d848f5, #8800ff);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Montaga', serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.input-btn {
  width: 20%;
}

.inp {
  margin-right: 3px;
  ;
}

.top-bar-btn {
  padding: 0.5rem;
  width: 45%;
  border-radius: 10px;
  border: none;
}

.loading{
  position: absolute;
  bottom: 50px;
  left: 40%;
}

.loading img{
  width: 100px;
  height: 100px;
}

.chat-pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}

.chat-pair p {
  margin: 10px;
  padding: 1rem 2rem;
  width: fit-content;
  border-radius: 20px;
  text-align: left;
}

.prompt {
  background-color: rgb(175, 9, 170);
  align-self: flex-end;
  font-size: 1.1rem;
}

.response {
  background-color: #181414;
}